@model IEnumerable<MovieLibrary.WebHost.Models.MovieViewModel>



@{

    ViewData["Title"] = "Index";

}



<h1>Index</h1>



<p>

    <a asp-action="Create">Create New</a>

</p>

<table class="table">

    <thead>

        <tr>

            <th>

                @Html.DisplayNameFor(model => model.Id)

            </th>

            <th>

                @Html.DisplayNameFor(model => model.Title)

            </th>

            <th>

                @Html.DisplayNameFor(model => model.Description)

            </th>

            <th>

                @Html.DisplayNameFor(model => model.Rating)

            </th>

            <th>

                @Html.DisplayNameFor(model => model.ReleaseYear)

            </th>

            <th>

                @Html.DisplayNameFor(model => model.RunLength)

            </th>

            <th>

                @Html.DisplayNameFor(model => model.IsClassic)

            </th>

            <th></th>

        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {

            <tr>

                <td>

                    @Html.DisplayFor(modelItem => item.Id)

                </td>

                <td>

                    @Html.DisplayFor(modelItem => item.Title)

                </td>

                <td>

                    @Html.DisplayFor(modelItem => item.Description)

                </td>

                <td>

                    @Html.DisplayFor(modelItem => item.Rating)

                </td>

                <td>

                    @Html.DisplayFor(modelItem => item.ReleaseYear)

                </td>

                <td>

                    @Html.DisplayFor(modelItem => item.RunLength)

                </td>

                <td>

                    @Html.DisplayFor(modelItem => item.IsClassic)

                </td>

                <td>

                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |

                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                </td>

            </tr>

        }

    </tbody>

</table>
